# {{ ansible_managed }}
<VirtualHost *:80>
    ServerName {{ domain }}
    DocumentRoot {{ project_root }}

    <Directory {{ project_root }}>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/{{ project_name }}_error.log
    CustomLog ${APACHE_LOG_DIR}/{{ project_name }}_access.log combined
</VirtualHost>